*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.advertising {
    margin: 0 auto;
}
.advertising img{
    width: 19em;
    height: 17em;
    padding: 0.2em;
    border-radius: 12px;
}


.content{
    min-height: 100vh;
    background:linear-gradient(177deg, black 20%, rgba(0, 0, 0, 0.767))100%;
    display:flex;
    flex-direction: column;
}

#screen-loading{ 
    min-height: 100vh;
    background:linear-gradient(177deg, black 20%, rgba(0, 0, 0, 0.767))100%;
    display:flex;
    flex-direction: column;
}

.img-logo {
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    padding-top: 25%;  
}

.form-initial{
    margin: 0 auto;
    padding-top: 5%;
}

.form-initial input{
    width: 15em;
    height: 3em;
}

.form-initial button{
    width: 15.4em;
    height: 3em;
    background:#FCA84C;
}

.help{
    width: 2rem;
    height: 2rem;
}

.btn-help {
    width: 4em;
    height: 5em;
    margin: 30% auto 0;
    background: transparent;
    border: none;
}

.loading{
    animation: loading 1s infinite;
    border:5px solid #FCA84C;
    border-top-color:black;
    border-radius: 50%;
    height: 50px;
    width:50px;
}

@keyframes loading {
    to {
        transform: rotate(1turn)
    }
}

.content-password{
    padding:5px;
    min-height: 8vh;
    background:black;
    display:flex;
    align-content: space-around;
}

.content-password-two {
    padding:5px;
    min-height: 8vh;
    background:linear-gradient(177deg, black 20%, rgba(0, 0, 0, 0.767))100%;
    display:flex;
    flex-direction: column;
}

.name-last, .name-last-home{
    background:#FCA84C;
    color:black;
    height:50px;
    width: 50px;
    border-radius: 50px;
}

.form-password{
    min-height: 50.5vh;
    margin: 0 auto;
    padding-top: 20%;
    text-align: center;
    color:white;  
}

.form-password input{
    color: white;
    background: black;
    border: none;
    border-bottom: 2px solid #FCA84C;
    width: 4em;
    height: 1em;
    font-size: 2em;
    align-items: center;
    margin: 0 auto;
    align-content: center;
    padding-left: 37%;
}

.form-password input::placeholder {
    color:white;  
}

.form-password button {
    background:#FCA84C;
    border: 2px solid black;
    border-radius: 12px;
    width: 5em;
    height:5em;
}

#btn-password  {
    width: 15.6em;
}

.btn-help-password{
    width: 4em;
    height: 4em;
    margin: 30% auto 0;
    background: transparent;
    border: none;
}

.content-home {
    padding:5px;
    min-height: 177vh;
    background:linear-gradient(177deg,rgb(90, 89, 89) 0%, rgba(95, 95, 95, 0.767))100%;
    display:flex;
    flex-direction: column;
}

.content-balance{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 17.4em;
    height: 2em;
    padding:1em;
    margin: 0 auto;
    background:black;
    border-bottom: 2px solid #FCA84C;
}
.content-menu{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0 auto;
    gap: 0.5em;
}
.content-menu p{
    font-size: 0.7em;
    color:white;
    margin: 0 auto;
}

.content-menu button{
    background: linear-gradient(144deg,#FCA84C 60%, black);
    width:4em;
    height: 4em;
    border-radius: 12px;
    border: 1px solid black;
    border-bottom: 4px solid black;
    margin: 0 auto;
}

.content-menu img{
    width:2.5em;
}

.flex-card{
    display:flex;
    justify-content: center;
    flex-direction: row;
    top: 0.3em;
    position: relative;
}


.flex-btn-lr button{
    background: none;
    border:none;
}

.flex-btn-lr{
    display:flex;
    position: relative;
    top:-2.5em; 
    left: -8em;


}

#btn-left{
    position: absolute;
    height: 5em;
    left: -0.2em;
    top: 9em;
    z-index: 1;

}

#btn-right{
    position: absolute;
    height: 5em;
    left: 18em;
    top: 9em;
    z-index: 1;
}

#btn-left img, #btn-right img{
    width: 1.5em;
    transition:  3s ease-in-out;

}


.content-home-card{
    margin-top: 1em;
    padding: 1em;
    width: 17.4em;
    margin: 0 auto;
    border-radius: 12px;
    border-bottom: 2px solid #FCA84C;
    position: relative
    
}

.content-home-card img{
    width: 3.5em;
    position:absolute;
    left: 78%;
    top: 5%;
}

#screen-home-card-two img{
    width: 5em;
    position:absolute;
    left: 74%;
    top: 5%;
}


#screen-home-card-two{
    position:absolute;
}
#screen-home-card{
    position:absolute;

}

.content-loan{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: 10em;
    align-items: center;
}

.loan{
    width: 17.4em;
    background:linear-gradient(11deg, black 15%, #FCA84C);
    border-bottom: 2px solid #FCA84C;    
    padding: 1.2em;
    width: 17.4em;
    border-radius: 12px;
    position: relative;
    
}

.loan img{
    width:4em;
    position: absolute;
    right: 1em;
}

#loanInput{
    width:5.5em;
    height:1.8em;
    margin: 0 auto;
    background : none;
    border: none;
    border-bottom: 1px solid #FCA84C;
    color: #FCA84C;
}

#get-loan, #screen-loan-confirm{
    display: flex;
    justify-content: center;
    position:relative;
}

.content-get-loan{
    position:fixed;
    top:20%;
    width: 17em;
    background:black;
    z-index: 1;
    border-radius: 12px;
    border: 3px solid #FCA84C;
    padding: 1em;
}

.btnPopCloser{
    position: absolute;    
    background: #FCA84C;
    border-radius: 50%;
    top:-6%;
    right:-0.9%;
    width: 2.5em;
    height: 2.5em;
    border: 3px solid #FCA84C;
    color: white;
    font-size: 1em; 
}

.btnparcel{
    display:flex;
    margin: 0 auto;
    background: linear-gradient(179deg, black 70%, #FCA84C);
    color: white;
    border: none;
    padding: 0.2em;
    
}

.loan-confirm{
    width: 17.4em;
    background:linear-gradient(157deg, black 70%, #FCA84C)20%;
    border-radius: 12%;
    border-bottom: 2px solid #FCA84C;    
    padding: 1.2em;
    width: 17.4em;
    border-radius: 12px;
}

.content-loan-confirm{
    position:fixed;
    top:30%;
    width: 17em;
    height: 12em;
    background:#FCA84C;
    z-index: 1;
    border-radius: 12px;
    padding: 1em;  
    border: 2px solid black;
}
.content-loan-confirm img{
    height: 4em;
}

.loan-img{
    margin: 0 auto;
    padding-left: 38%;
	animation: slide-left 0.8s ;
}


@keyframes slide-left {
    0% {
       transform: translateX(0);
    }
    30% {
        transform: translateX(-5px);

    }
    60% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }    
}


.btnLoanConfirm{
    position: absolute;
    top: 13em;
    width:7em;
    height: 2em;
    left: 12em;
    border-radius: 12px;
    color: white;
    background: linear-gradient(175deg, #093209 30% , rgb(66 181 66));
    border: none;
}

.btnLoanNegative{
    position: absolute;
    top: 13em;
    width:7em;
    height: 2em;
    left: 4em;
    border-radius: 12px;
    color: white;
    background: linear-gradient(175deg, #9d1c1c 30% , rgb(149 129 129));
    border: none;
}

.content-pay{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: 10.8em;
    align-items: center;
}

.pay{
    width: 17.4em;
    background:linear-gradient(194deg, black 55%, #FCA84C);
    border-bottom: 2px solid #FCA84C;    
    padding: 1.2em;
    width: 17.4em;
    border-radius: 12px;
    position: relative;
}

.payInput{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color:#FCA84C;
    height: 1.8em;

}

.btn-pay{
    display:flex;
    background: #FCA84C;
    margin: 0 auto;
    margin-top: 1em;
    width: 7em;
    height: 2em;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    border: none;
}

#screen-pay-value{
    display: flex;
    justify-content: center;
    position:relative;
}

.content-pay-value{
    position:fixed;
    top:20%;
    width: 17em;
    height: 12em;
    background:#FCA84C;
    z-index: 1;
    border-radius: 12px;
    border: 3px solid black;
    padding: 1em;
    color: black;
}

.btnPayConfirm{
    position: absolute;
    top: 13em;
    width:7em;
    height: 2em;
    left: 12em;
    border-radius: 12px;
    color: white;
    background: linear-gradient(175deg, #093209 30% , rgb(66 181 66));
    border: none;
}

.btnPayNegative{
    position: absolute;
    top: 13em;
    width:7em;
    height: 2em;
    left: 4em;
    border-radius: 12px;
    color: white;
    background: linear-gradient(175deg, #9d1c1c 30% , rgb(149 129 129));
    border: none;
}
.content-pay-value img{
    height: 4em;
    padding-left: 38%;
}

.pay-img{
    margin: 0 auto;
	animation: slide-left 0.8s ;
}

.content-pix{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: 11.8em;
    align-items: center;
}

.pix{
    width: 17.4em;
    background:linear-gradient(16deg, black 55%, #FCA84C);
    border-bottom: 2px solid #FCA84C;    
    padding: 1.2em;
    border-radius: 12px;
    position: relative;
}

.selectPixKey{
    top: 4.1em;
    left: 6em;
    position: absolute
}

select{
    background:black;
    color:#FCA84C;
    border: 2px solid #FCA84C;
    border-radius: 8px;
    width: 10em;
    height: 2em;
}

.inputPix{
    position: absolute;
    top:6.5em;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color:#FCA84C;
    height: 1.8em;
}

#screen-pix-value{
    display: flex;
    justify-content: center;
    position:relative;
}

.content-pix-value{
    position:fixed;
    top:20%;
    width: 17em;
    height: 12em;
    background:#FCA84C;
    z-index: 1;
    border-radius: 12px;
    border: 3px solid black;
    padding: 1em;
    color: black;
}

.btnPixConfirm{
    position: absolute;
    top: 13em;
    width:7em;
    height: 2em;
    left: 12em;
    border-radius: 12px;
    color: white;
    background: linear-gradient(175deg, #093209 30% , rgb(66 181 66));
    border: none;
}

.btnPixNegative{
    position: absolute;
    top: 13em;
    width:7em;
    height: 2em;
    left: 4em;
    border-radius: 12px;
    color: white;
    background: linear-gradient(175deg, #9d1c1c 30% , rgb(149 129 129));
    border: none;
}
.content-pix-value img{
    height: 4em;
    padding-left: 38%;
}

.pix-img{
    margin: 0 auto;
	animation: slide-left 0.8s ;
}

.content-statement{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: 12.8em;
    align-items: center;
}

.statement{
    width: 17.4em;
    height: 3em;
    background:black;
    border-bottom: 2px solid #FCA84C;    
    padding: 1.2em;
    border-radius: 12px;
    position: relative;
}


#screen-statement-value{
    display: flex;
    justify-content: center;
    position:relative;
}

.content-statement-value{
    position:fixed;
    top:10%;
    width: 17em;
    height: 25em;
    background:#FCA84C;
    z-index: 1;
    border-radius: 12px;
    border: 3px solid black;
    padding: 1em;
    color: black;
}

.content-statement-value img{
    height: 4em;
    padding-left: 38%;
}

.statement-img{
    margin: 0 auto;
	animation: slide-left 0.8s ;
}

.table{
    margin: 0 auto;
    width: 15em; 
}

.btnStatementCloser{
    position: absolute;
    background: black;
    border-radius: 50%;
    top: 1%;
    right: 1%;
    width: 2.5em;
    height: 2.5em;
    border: 3px solid #FCA84C;
    color: white;
    font-size: 1em;
}

.fotter-div{
    display: flex;
    justify-content: center;
    position:relative;
}

.content-footer{
    position: fixed;
    top: 94%;
    background: black;
    width: 17.5em;
    padding: 1em;
    padding-top:0.5em;
    display: flex;
    margin: 0 auto;
    border-radius: 12px;
    z-index: 1;
}

.content-footer button{
    background: linear-gradient(144deg,#FCA84C 60%, black);
    width:2.5em;
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid black;
    border-bottom: 4px solid black;
    margin: 0 auto;
}


.content-footer img{
    width:2em;
}
